body {
  width: 960px;
  background-color: aqua;
}

header {
  height: 80px;
}

#logo-container {
  float: left;
  margin: 20px 10px 0 20px;
}

#top-header {
  float: left;
  margin-top: 24px;
  font-size: 36px;
  font-weight: bold;
}

nav a {
  text-align: center;
  float: right;
  margin-top: 30px;
  width: 72px;
  padding: 8px;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid black;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#results-frame,
#voting-area {
  float: left;
  margin: 8px;
  border: 1px solid red;
}

#resuls-frame {
  width: 220px;
  border: 1px solid black;
}

#voting-area {
  text-align: center;
  width: 700px;
  border: 1px solid black;
}

#voting-area h3 {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 10px;
}

#image-area img {
  float: left;
  width: 220px;
  height: 220px;
  object-fit: contain;
  margin: 5px;
  border: 1px solid black;
}

#results-header img {
  width: 220px;
}

#results-frame h2,
ul {
  width: 200px;
}

#results-frame h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  margin: 4px;
}

#results-frame ul {
  padding: 10px;
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 12px;
  list-style-type: initial;
  list-style-position: inside;
}

#results-list li {
  margin-bottom: 2px;
}

#button-container {
  clear: left;
  border: 1px solid black;
  margin: 6px;
  width: 684px;
  height: 80px;
  text-align: center;
}

#button-container button {
  width: 480px;
  margin-top: 20px;
  border-radius: 8px;
  font-size: 14px;
  padding: 2px;
}

#button-container button:hover {
  cursor: pointer;
}

#button-container h4 {
  font-family: "Yellowtail", cursive;
  text-align: center;
  margin-top: 24px;
  font-size: 28px;
  padding: 2px;
}
